$primaryColor: #1d1010;
$secondaryColor: #1a5bd4;;
$mainWhite: #fff;

* {
  box-sizing: border-box;
}
body {
  color: $primaryColor;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family: "Segoe UI", Roboto, Verdana, "Helvetica Neue", sans-serif;
}
h1{
    color: $primaryColor;  
}
h2,
h3 {
  font-weight: 400;
}
a {
  color: $secondaryColor;
  text-decoration: none;
  
}
li {
  color: $primaryColor;

  margin-bottom: calc(1.45rem / 2);
}